<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>address</th>
            <th>phone</th>
        </tr>
        <tr>
            <td>{{a.first_name}}</td>
            <td>{{a.last_name}}</td>
            <td>{{a.email}}</td>
            <td>{{a.adress}}</td>
            <td>{{a.phone}}</td>
        </tr>
    </table>
</body>
</html>